{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}


{% block body %}
	<main class="bg-primary">
		<div class="container-fluid">
				<h1 class="huge-title">
			DÉCISIONS
		</h1>
			<div class="mb-3 row px-4">
				<h2 class="fw-bolder recherche text-light col-sm-2 ">Recherche</h2>
				<div class="col-sm-10"></div>
			</div>
			<h2 class="px-4 fw-bolder ">
				<a href="#fini" class=" text-decoration-none text-light">Les décisions bientôt finies</a>
			</h2>
			<h2 class="text-light px-4 fw-bolder ">
				<a href="#recent" class=" text-decoration-none text-light">Les décisions récemment terminée</a>
			</h2>
			<h2 class="text-light px-4 fw-bolder ">
				<a href="#toutes" class=" text-decoration-none text-light">Toutes les décisions</a>
			</h2>
			<h2 id="fini" class="text-secondary px-4 pt-4 fw-bolder">
				Les décisions bientôt finies
			</h2>
			<h2 id="recent" class="text-secondary px-4 pt-4 fw-bolder">
				Les décisions récemment terminée
			</h2>
			<h2 id="toutes" class="text-secondary px-4 pt-4 fw-bolder">
				Toutes les décisions
			</h2>
			<div class="container-fluid">
				<div class="row g-3">
					{% for decision in decisions %}
						<div class="col-xl-4">
							{% include "components/_decisionCards.html.twig" %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
