{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}


{% block body %}
	<main class="bg-primary">
		<div class="container-fluid">
			<h1 class="huge-title">DÉCISIONS</h1>

			{{form_start(form, { 'attr': {'class': 'border border-2 rounded-4 d-flex justify-content-between mx-auto w-75 my-5'} })}}
			{{ form_widget(form.input, { 'attr': {'class': 'bg-primary text-light border-primary rounded-4 py-2 fs-1'} }) }}
			<button type="submit" class="btn d-flex align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FFFF" class="bi bi-search" viewbox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
				</svg>
				<label class="btn text-light fw-bold ps-2 fs-3 d-none d-sm-block" for="input">Rechercher</label>
			</button>
			{{form_end(form)}}

			<div class="container d-flex justify-content-center mb-5 align-items-center">
				<h2 class="text-light px-4 fw-bolder ">
					<a href="#recent" class="navtitle text-decoration-none text-light">Les décisions récemment terminées</a>
				</h2>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-circle-fill" viewbox="0 0 16 16">
					<circle cx="8" cy="8" r="8"/>
				</svg>
				<h2 class="text-light px-4 fw-bolder ">
					<a href="#toutes" class="navtitle text-decoration-none text-light">Toutes les décisions</a>
				</h2>
			</div>
			<h2 id="fini" class="text-secondary px-4 pb-4 fw-bolder">
				Les décisions bientôt finies
			</h2>
			<div class="container-fluid">
				<div class="row g-3">
					{% for decision in decisionsEndingSoon %}
						<div class="col-md-6 col-lg-4 col-xl-3">
							{% include "components/_decisionCards.html.twig" %}
						</div>
					{% endfor %}
				</div>
			</div>
			<h2 id="recent" class="text-secondary px-4 pt-4 mt-4 mb-3 fw-bolder">
				Les décisions récemment terminées
			</h2>
			<div class="container-fluid">
				<div class="row g-3">
					{% for decision in decisionsFinished %}
						<div class="col-md-6 col-lg-4 col-xl-3">
							{% include "components/_decisionCards.html.twig" %}
						</div>
					{% endfor %}
				</div>
			</div>
			<h2 id="toutes" class="text-secondary px-4 pt-4 mt-4 mb-3  fw-bolder">
				Toutes les décisions
			</h2>
			<div class="container-fluid">
				<div class="row g-3 pb-5">
					{% for decision in decisions %}
						<div class="col-md-6 col-lg-4 col-xl-3">
							{% include "components/_decisionCards.html.twig" %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
