{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<main class="home-background">
	<div class="k-stripepin">
		<h1 class="huge-title">
			DÉCISIONS
		</h1>
	</div>
	<div>
		<div class="mb-3 row px-5">
			<label for="inputPassword" class="recherche text-light col-sm-2 col-form-label">
				<h1>Recherche</h1>
			</label>
			<div class="col-sm-10">

			</div>
		</div>
		
		<a href="#fini"><h2 class="recherche text-light px-5 fw-bolder">
			Les Décisions bientôt finies
		</h2></a>
	</a> 
	<a href="#recent"><h2 class="recherche text-light px-5 fw-bolder">
			Les Décisions récement terminée
		</h2>
		<a href="#toutes"></a><h2 class="recherche text-light px-5 fw-bolder">
			Toutes les décisions
		</h2>
		
		<h2 id = "fini" class="recherche text-secondary px-4 pt-4 fw-bolder">
			Les Décisions bientôt finies
		</h2>
		   <h2 id = "recent" class="recherche text-secondary px-4 pt-4 fw-bolder">
			Les Décisions récement terminée
		</h2>
0
	<h2 id = "toutes" class="recherche text-secondary px-4 pt-4 fw-bolder">
		Toutes les décisions
	</h2>
{% endblock %}
