{% extends 'base.html.twig' %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}
<main >
    <div class="m-4">

    <h1>Créer une catégorie</h1>

    {{ include('admin_category/_form.html.twig') }}

    <a href="{{ path('app_admin_category_index') }}">Retour à la liste</a>
    </div>
</main>
{% endblock %}