{% extends 'base.html.twig' %}

{% block title %}Création d'une prise de décision
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('decisionCreation') }}
{% endblock %}

{% block body %}
	<main class="bg-primary container-fluid">
		<h1 class="text-secondary text-center fw-bold pt-4">Création d'une décision</h1>
		{{ include('components/_decisionForm.html.twig') }}
	</main>
{% endblock %}
