{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}


{% block body %}
	<main class="bg-primary">
		<div class="container-fluid">
				<h1 class="huge-title">DÉCISIONS</h1>
		
        </div>
    </main>
			
{% endblock %}
