@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #0D3944;
$secondary : #FDF353;
$tertiary : #3B8AA6; 
$quatro : #1A3843;
$cinco: #26586A;
$font : 'Raleway', sans-serif;


$custom-colors: (    
 "tertiary": $tertiary,
 "quatro": $quatro,  
 "cinco": $cinco
);       

@import "~bootstrap/scss/functions";  

@import "~bootstrap/scss/variables"; 

$theme-colors: map-merge($theme-colors, $custom-colors); 

@import "~bootstrap/scss/bootstrap";


* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin:0;
    font-size : 20px;
}

.huge-title{
    font-size : 270px;
}

.title{
    font-size : 50px;
}

p, h1, h2, h3, h4, h5, ul, li, div {
    font-family : $font;
}

