@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #0D3944;
$secondary : #FDF353;
$tertiary : #3B8AA6;
$quatro : #1A3843;
$cinco : #26586A;
$lightShadow : rgba(255, 255, 255, 75%);
$font : 'Raleway', sans-serif;

// Tableau de couleurs personalisées
$custom-colors: (
    "tertiary": $tertiary,
    "quatro": $quatro,
    "cinco": $cinco
);

// Import des parties "fonctions" (car on utilise la fonction map-merge()) 
// et "variables" (car on utilise $theme-colors) de bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Fusion du tableau de couleurs existant avec les couleurs custom 
$theme-colors: map-merge($theme-colors, $custom-colors);

// Import du reste de bootstrap dans lequel il aura ajoute les custom colors
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.25rem;
    min-height: 100vh;
}

main{
    padding-block-start :20vh;
}


.huge-title {
    opacity: 0.5;
    color: $light;
    font-size: clamp(2rem, 18vw, 22rem);
    text-align: center;
    font-weight: 800;
}

.notSoHugeTitle {
    opacity: 0.5;
    color: $light;
    font-size: clamp(2rem, 12vw, 22rem);
    text-align: center;
    font-weight: 800;
}

.title {
    background-color: $tertiary;
    font-size: 3.12rem;
}

p, h1, h2, h3, h4, h5, ul, li, div {
    font-family : $font;
}

.card-picture{
    height: 70px;
    width : 70px;
}

.decisionCard{
    box-shadow: $lightShadow 7px 7px;
    transition: 0.2s ease-in-out;
    min-height: 350px;
    max-width: 390px;
}

.decisionCard:hover {
    transform: scale(1.05);
    box-shadow: $lightShadow 10px 10px 1px;
}

.decisionCard h3 {
    transition: 0.2s ease-in-out;
}

.decisionCard:hover h3 {
    transform: scale(1);
}


.navtitle {
transition: 0.2s ease-in-out;
}

.navtitle:hover {
    opacity: 0.7;
}
.decisionCard .category {
    
    color: var(--categoryColor);
    border-color: var(--categoryColor);
}
.category {
    --bs-border-color: var(--categoryColor);
    color: var(--categoryColor);
    
    }
