@import "_theme";

.date-label{
    padding-left : 40px;
    margin : 0;
}

.first-form-spacing{
    margin-block-start: 100px;
}

.form-spacing{
    margin-block-start: 150px;
}

.profil-icons{
    width : 50px;
    height : 50px;
    border-radius: 50%;
}

.profil-icons:not(first-of-type){
    margin-inline-start: -15px;
}

.cke_1.cke_chrome, .cke_2.cke_chrome, .cke_3.cke_chrome, .cke_4.cke_chrome{
    border:none;
}

.cke_top{
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}

.cke_bottom{
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.cke_inner{
    border-radius: 30px 30px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.cke_contents{
    height : 800px;
}

#decision_creation_interactions, #decision_edition_interactions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    button.btn-primary{
        background-color: $secondary;
        color:$primary;
        font-weight: 700;
        border-radius: 10px;
        padding-block : 0.5rem;
        max-height : 40px;
    }
    fieldset{
        width : 25%;
        display :flex;
        flex-direction : column;
        justify-content: center;
        align-items: center;
        padding-inline: 1rem;
        padding-block-start : 2.5rem;
        button.btn-danger{
            width : 8rem;
        }
    }
}