@import "_theme";

.pictureCreator {
    height: 6rem;
    width: 6rem;
}

<<<<<<< HEAD


=======
#timelineGrid {
    display: grid;
    grid-template-areas: "a b c d"
                         "e e e e"
                         "f g h i";
    grid-template-rows: 6rem 1fr 6rem;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 3rem;
}

#state1 {
    grid-area: a;
}

#state2 {
    grid-area: b;
}

#state3 {
    grid-area: c;
}

#state4 {
    grid-area: d;
}

#arrow {
    grid-area: e;
}

#date1 {
    grid-area: f;
}

#date2 {
    grid-area: g;
    justify-self: center;
}

#date3 {
    grid-area: h;
    justify-self: center;
}

#date4 {
    grid-area: i;
}


@media screen and (max-width: 991px) {

    #timelineGrid {
        grid-template-areas: 
            "f a a"
            "g b b"
            "g b b"
            "h c c"
            "h c c"
            "i d d";
        grid-template-rows: repeat(6, 5rem);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 1.5rem;
    }

    .arrow {
        display: none;
    }

    .state {
        display: flex;
        height: auto;
        text-align: center;
        align-items: center;
    }

    .state2 {
        display: flex;
        text-align: center;
        align-items: center;
        padding-inline: 2rem;
    }

    #date1 {
        justify-self: center;
    }

    #date4 {
        justify-self: center;
    }

}

@media screen and (max-width: 500px) {

    #timelineGrid {
        grid-template-areas: 
            "f f f"
            "a a a"
            "g g g"
            "b b b"
            "h h h"
            "c c c"
            "i i i"
            "d d d";
        grid-template-rows: repeat(8, 6rem);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 0;
    }
}
>>>>>>> a3f43941aa7c611151a75b1bb26728790e2e1a80
