.pictureCreator {
    height: 4rem;
    width: 4rem;
}
.decisionCard .category {
    --categoryColor:red;
    color: var(--categoryColor);
    border-color: var(--categoryColor);

}
.category {
    --bs-border-color: var(--categoryColor);
    color: var(--categoryColor);
    
    }