body {
    background-color: #0D3944;
}

.navbar-register {
    background-color: #000000;
    height: 80px;
    border-radius: 10px;
    width: 98%;
    margin: auto;
}

.navbar-register img {
    height: 30px;
}