<form action="" method="post" enctype="multipart/form-data">
	<input class="rounded-pill btn border border-dark" type="file" id="user_posterFile_file" name="user[posterFile][file]">
	<button class="rounded-pill btn  border border-dark" name="send">
		Modifier
	</button>
</form>
