<nav class="navbar navbar-expand-lg bg-light rounded-4 my-4 mx-4 py-3 fw-bold fs-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logonav ms-5" src="{{ asset('build/images/logo-makesense.png') }}" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
         <a class="nav-link fw-bold" href="#">Tableau de bord</a>
        </li>
      </ul>
      <div class="navbar-nav">
        <a class="btn btn-primary me-4 rounded-5 fw-bold text-secondary" href="">Créer une décision</a>
        </div>
        <div class="col-md-1 align-middle text-center px-auto">Janette Doeatienne</div><img class="mx-2" src="{{ asset('build/images/Jeanne.png') }}" alt="">
    </div>
  </div>
</nav>