{% extends "base.html.twig" %}

{% block title %}Toutes les décisions
{% endblock %}

{% block body %}

	<main class="bg-primary pb-5">
    <h1 class="text-secondary px-4 pb-4 fw-bolder mt-5">Toutes les décisions</h1>
		<div class="container-fluid">
			<div class="row g-3">
				{% for decision in decisions %}
					<div class="col-md-6 col-lg-4 col-xl-3">
						{% include "components/_decisionCards.html.twig" %}
					</div>
				{% endfor %}
			</div>
		</div>
	</main>

{% endblock %}
