{% extends "base.html.twig" %}

{% block title %}Avis
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('commentView') }}
{% endblock %}

{% block body %}

	{% if "now"|date("Y/m/d") >= decisionFirstPeriod|date("Y/m/d")  %}
		{% set backgroundColor = 'bg-tertiary' %}
	{% elseif "now"|date("Y/m/d") >= decisionConflictPeriod|date("Y/m/d")  %}
		{% set backgroundColor = 'bg-cinco' %}
	{% elseif "now"|date("Y/m/d") >= decisionFinalPeriod|date("Y/m/d")  %}
		{% set backgroundColor = 'bg-primary' %}
	{% endif %}
	<main>
		<div class="mt-5 container text-center">
			<h1 class="fs-1 fw-bold py-3">Avis</h1>
		</div>


		{% if "now"|date("Y/m/d") >= decisionFirstPeriod|date("Y/m/d")  %}
			<div class="container-fluid">
				<div class="bg-tertiary py-4 rounded-top">
					<div class="border-bottom border-white border-3 mb-3 mx-5">
						<h2 class="text-center text-white mt-3">Début de la période pour donner votre avis</h2>
					</div>
				</div>
			{% endif %}

			{% for commentsFirstPeriod in commentsFirstPeriods %}
				{% set backgroundColor = 'bg-tertiary' %}
				{% for comment in comments %}

					{% include "components/_comment.html.twig" %}
				{% endfor %}
			{% endfor %}

		</div>
		{% if "now"|date("Y/m/d") >= decisionConflictPeriod|date("Y/m/d")  %}
			<div class="container-fluid">
				<div class="bg-cinco py-4">
					<div class="border-bottom border-white border-3 mb-3 mx-5">
						<h2 class="text-center text-white mt-3">Début de la période pour entrer en conflit
						</h2>
					</div>
				</div>
			{% endif %}

			{% for commentsConflictPeriod in commentsConflictPeriods %}
				{% set backgroundColor = 'bg-cinco' %}
				{% for comment in comments %}
					{% include "components/_comment.html.twig" %}
				{% endfor %}
			{% endfor %}
		</div>

		{% if "now"|date("Y/m/d") >= decisionFinalPeriod|date("Y/m/d")  %}
			<div class="container-fluid">
				<div class="bg-primary py-4">
					<div class="border-bottom border-white border-3 mb-3 mx-5">
						<h2 class="text-center text-white mt-3">Début de la période de décision définitive</h2>
					</div>
				</div>
			{% endif %}

			{% for commentsFinalPeriod in commentsFinalPeriods %}
				{% set backgroundColor = 'bg-primary' %}
				{% for comment in comments %}
					{% include "components/_comment.html.twig" %}
				{% endfor %}
			{% endfor %}
		</div>


		<div class="container-fluid mb-3">
		<div class="{{backgroundColor}} text-center rounded-bottom py-4">
			<a class="btn btn-secondary mt-4 fs-5 fw-bold" type="button" 
			href="{{ path("app_decision_comment", {'decision': decision.id}) }}">Ecrire un avis</a>
			</div>
		</div>
	</main>
{% endblock %}
