<section>
	{% if "now"|date("Y/m/d") >= decisionFirstPeriod|date("Y/m/d")  %}
		<div class="container-fluid">
			<div class="bg-tertiary py-4 rounded-top">
				<div class="border-bottom border-white border-3 mb-2 mx-5">
					<h2 class="text-center text-white mt-3">Période pour donner votre avis</h2>
				</div>
			</div>
		{% endif %}

		{% set background = 'bg-tertiary' %}
		{% include "components/_comment.html.twig" with {'comments':commentsFirstPeriods, 'background':background} %}

	</div>
	{% if "now"|date("Y/m/d") >= decisionConflictPeriod|date("Y/m/d")  %}
		<div class="container-fluid">
			<div class="bg-cinco py-4">
				<div class="border-bottom border-white border-3 mb-2 mx-5">
					<h2 class="text-center text-white mt-3">Période pour entrer en conflit
					</h2>
				</div>
			</div>
		{% endif %}

		{% set background = 'bg-cinco' %}
		{% include "components/_comment.html.twig" with {'comments':commentsConflictPeriods , 'background':background} %}

	</div>

	{% if "now"|date("Y/m/d") >= decisionFinalPeriod|date("Y/m/d")  %}
		<div class="container-fluid">
			<div class="bg-primary py-4">
				<div class="border-bottom border-white border-3 mb-2 mx-5">
					<h2 class="text-center text-white mt-3">Période de décision définitive</h2>
				</div>
			</div>
		{% endif %}

		{% set background = 'bg-primary' %}
		{% include "components/_comment.html.twig" with {'comments':commentsFinalPeriods , 'background':background}  %}

	</div>
</section>
