<div class="card decisionCard m-4 rounded-4 border-primary">
	<div class="card-body">
		<h3 class="card-title text-primary fw-bolder p-3">{{decision.title}}</h3>
		<div class="d-flex align-items-center justify-content-end">
			<img class="card-picture" src="{{ asset('build/images/jane-doe.jpg') }}" alt="profile picture of the creator of the decision">
			<p class="card-text px-3 text-primary ">par
				<b>Jane Doe</b>
			</p>
		</div>
	</div>
</div>
