{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}


{% block body %}
	<main class="bg-tertiary">
		<div class="container-fluid pb-5">
			<h1 class="notSoHugeTitle mt-5">
				{{ 'Mes décisions'|upper }}</h1>
			<h2 id="fini" class="text-secondary px-4 pt-5 fw-bolder">
				Mes décisions proposées
			</h2>
			<div class="container-fluid">
				<div class="row g-3">
					{% for decision in myDecisions %}
						<div class="col-md-6 col-lg-4 col-xl-3">
							{% include "components/_decisionCards.html.twig" %}
						</div>
					{% endfor %}
				</div>
			</div>
			<h2 id="fini" class="text-secondary px-4 pt-5 fw-bolder">
				Les décisions qui m'impactent
			</h2>
			<div class="container-fluid">
				<div class="row g-3">
					{% for interaction in impactedInteractions %}
						<div class="col-md-6 col-lg-4 col-xl-3">
							{% include "components/_decisionCards.html.twig" with {'decision': interaction.decision} %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
