{% extends "errorBase.html.twig" %}

{% block title %}Make Sense 404
{% endblock %}

{% block body %}
	<main class="bg-secondary backgroundShow text-center">
		<div><img src="{{ asset('build/images/logo-makesense.png') }}" alt=""></div>
		<div class="text-white display-1 fw-bold">404</div>
		<div class="display-1 fw-bold">CETTE PAGE N’EXISTE PAS</div>
	</main>
{% endblock %}
