<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Nouvelle décision</title>
	</head>
	<body>
		<h1>Bonjour

			{{ impactedUser.user.firstname }}
			{{ impactedUser.user.lastname }}
			, une nouvelle décision où tu es expert "
			{{ decision.title }}
			" vient tout juste d'être créée !
		</h1>
	</body>
</html></body></html>
